[user]
	name = Alejandro Mateo
	email = alejandro.mateo@clearpay.com

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	
[alias]
	cm = commit -m
	ad = add .
	st = status
	co = checkout
	ps = push
	psf = push --force
	pl = pull

[credential]
	helper = cache

[url "git@github.com:"]
	insteadOf = https://github.com/

[color]
  diff = auto
  status = auto
  branch = auto
